body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  display: block;
  border: 1px solid black;
}

.tutorial {
  padding: 10px;
  color: rgb(255, 255, 255);
}

.tutorialBg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 100px;
  background-color: rgb(255, 144, 18);
  border-radius: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}

.tutorialEnd {
  transition: 0.4s;
  opacity: 0;
}
